@using Packt.Shared
@using AudioArea.Mvc.Components;
@model ProductCardViewModel

@if (Model.Products != null)
{
<div class="row mt-3" id="product-cards">
    @foreach (Product p in Model.Products)
    {
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="image-default" src="~/images/products/@p.GetImagePath()" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<nav class="p-3 d-flex justify-content-center" aria-label="Page navigation example">
    <ul class="pagination">
        @await Component.InvokeAsync(typeof(PageNavigationViewComponent), new { pagination = Model.Pagination })
    </ul>
</nav>
}
