@using AudioArea.Mvc.Components;

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - AudioArea</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/fontawesome-6.3.0/css/all.min.css" />
	<link rel="stylesheet" href="~/AudioArea.Mvc.styles.css" asp-append-version="true" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-md navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container-fluid">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AudioArea</a>
				<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse text-center" id="navbar-collapse">
                    <ul class="nav navbar-nav abs">
                        <li class="nav-item">
							<a class="nav-link text-dark" href="/Home/Products">Products</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown">Categories</a>
							<div class="dropdown-menu" id="dropdown-categories">
								@await Component.InvokeAsync(typeof(CategoryTopNavBarViewComponent))
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/">Compare</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/Privacy">More</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Right</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                    </ul>
                </div>
			</div>
		</nav>
	</header>
	@RenderBody()

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2023 - AudioArea - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/layout.js" asp-append-version="true"></script>
	<script src="~/js/@(System.IO.Path.GetFileNameWithoutExtension(Html.ViewContext.View.Path).ToLower()).js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>